/* Button.module.scss */

.default {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

  }
  
.primary {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    &:hover{
      background-color: black;
      color: whitesmoke;
    }
  }
  
.secondary {
    background-color: gray;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  