.ProductCard {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      padding: 1rem;
  
      .card-title {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
      }
  
      .card-text {
        margin-bottom: 0.75rem;
  
        &.text-primary {
          font-size: 1.1rem;
          font-weight: bold;
        }
      }
  
      .description {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 1rem; /* Ensure spacing between description and button */
      }
  
      Button {
        align-self: center;
        margin-top: auto; /* Push button to the bottom */
      }
    }
  }
  
  .imageLink {
    display: block;
    width: 100%;
    height: auto; /* Ensure image displays correctly */
  }
  