.product {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    top: 150px;
    height: 500px;



    .image {
        width: 380px;
        height: 440px;
        border: 1px solid gray;

        img {
            width: 100%;
            height: auto;

        }
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {

            h3 {
                color: #2e3553;
                font-size: 26px;
                line-height: normal;
                width: 100%;
                padding: 0px 0px;
            }
        }

        .detail {
            h2 {
                background: #03177e;
                padding: 5px 5px 5px 10px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                color: #fff;
                align-items: center;
                text-align: center;
                border-radius: 3px;
                height: 52.8px;
                margin: 0;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 20px;
            }

            .properties {
                padding: 20px 0;
            }
        }

        span {
            font-size: 24px;
            display: inline-block;
            color: #4bd963;
        }

        .incentives {
            width: 100%;

            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                padding: 0;
                margin: 0;
            }

            img {
                object-fit: cover;
                width: auto;
                height: 40px;
            }

            li {
                margin: 10px;
                display: flex;
                width: 245px;

                span {
                    font-size: 14px;
                    font-weight: 300;
                    color: gray;
                }
            }
        }

    }



    .color_option,
    .size_option {
        max-width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid gray;
        margin: 5px;
        padding: 8px;

        img {
            width: 40px;
            height: 40px;
        }

        span {
            width: auto;
            color: black;
            font-size: 16px;
            margin-left: 10px;
            height: 10px;
        }

        &:hover {
            border: 1px solid #4bd963;
            cursor: pointer;

        }
    }

    .selected {
        border: 1px solid #4bd963;
        position: relative;
    }

    .selected::after {
        content: '✔';
        color: whitesmoke;
        position: absolute;
        bottom: -0px;
        right: 0px;
        font-size: 12px;

    }

    .colors {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .sizes {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;

        .size_option {
            line-height: 10px;
            padding: 0 30px;
            line-height: 14px;

        }
    }

    .quantity {
        display: flex;
        align-items: center;
        margin-top: 20px;

        p {
            margin: 0;
        }

        button {
            border: none;
            margin-left: 100px;
        }

        .detail {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;

            button {
                width: 40px;
                height: 40px;
                border: 1px solid gray;
                background-color: white;
                border-radius: 0;
                margin: 0;
            }

            span {
                border: 1px solid gray;
                border-left: none;
                border-right: none;
                width: 60px;
                text-align: center;
                height: 40px;
                font-size: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;

            }
        }

    }

}

.sidebar {
    .sidebar_top {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #dedede;

        h2 {

            background: #03177e;
            color: #fff;
            padding: 0 10px;
            border-radius: 5px 5px 0 0;
            display: flex;
            gap: 10px;
            align-items: center;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 16px;
            height: 40px;
        }

        p {
            margin-left: 10px;
        }
    }

    .sidebar_bottom {
        margin: 20px 0;

        h2 {
            font-size: 14px;
            margin-top: 0;
            color: #03177e;
            font-weight: bold;
            margin-bottom: 3px;
        }

        background: #fff;
        padding: 10px;
        display: flex;
        min-height: 120px;
        border-radius: 5px;
        min-height: 100px;
    }
}